.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/backgrounds/backgroundZred.svg");
    background-size: 120%;
    background-position:center;
}
.tituloEmerchan{
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding-bottom: 32px;
}
.LoginCard {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin: 5rem auto;

    background-color: #74010B;
    width: 488px;
    height: 600px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.696);
}
.LoginCard h2{
    font-family: var(--font-numans);
    margin-top: 2rem;
    font-size: 48px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    letter-spacing: 4%;
}
.LoginCard p {
    font-family: var(--font-roboto);
    font-size: 20px;
    color: var(--white);
    text-align: center;
    letter-spacing: 4%;
    font-weight: 500;
}
.sonhosStyle{
    font-weight: bolder;
}

.LoginCard input {
    width: 390px;
    height: 44px;
    font-family: 'Roboto';
    border-color: inherit;
    border-radius: 2px;
    background-color: white;
    resize: none;
    font-size: 20px;
    padding-left: 20px;
    margin: 12.5px 0 12.5px;
}

.forgotPassword{
    display: flex;
    align-self: start;
    padding-left: 40px;
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 5%;
    text-decoration: underline;
    color: var(--red-0);
}
.buttonEbar{
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding-bottom: 48px;
}

.whiteBar{
    width: 390px;
    height: 2.2px;
    background-color: var(--white);
    border-radius: 2px;

}
.BotaoEntrar,
.BotaoCadastro{
    background-color: var(--red-300);

    display: flex;
    justify-content: center;
    justify-self: center;
    border-radius: 10px;
    box-shadow: hsla(0, 0%, 0%, 0.25);

    font-family: var(--font-montserrat);
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5%;
    border: none;

    &:hover{
        cursor: pointer;
        background-color: #b71a27;
    }
}
.BotaoEntrar { 
    width: 390px;
    height: 44px;
    padding: 15px 0; 
}

.BotaoCadastro {
    flex-direction: column;
    width: 220px;       
    height: 44px; 
    margin-bottom: 61px;
    text-decoration: none;
}