.Container {
    font-family: 'Numans';
}

.LoginCard {
    display: grid;
    margin: 5rem auto;

    background-color: #74010B;
    width: 40rem;
    height: 50rem;
    padding: 40px;
    justify-content: center;
}
