.container {
  background-color: #74010B;
  width: 100%;
  height: 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  box-sizing: border-box;
}


.logo img {
  height: 5rem;
  max-width: 100%;
  display: block;
}


.catalogo {
  display: flex;
  gap: 2rem;
}
.catalogo a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: sans-serif;
}


.icons {
  display: flex;
  gap: 1rem;
}
.icons img {
  height: 2.2rem;
  max-width: 100%;
  display: block;
}